@import "../../../global-var-and-func";

@menu-item-height: 50px;
@menu-item-bg-color: #D3D3D3;

.menu__item {
    padding-top: 20px;
    .setup-flex-items(@align-self: center);
    height: @menu-item-height;
    background-color: @menu-item-bg-color;
    color: darken(@menu-item-bg-color, 45%);
    font-size: 24px;
    text-align: center;

        &:hover {
           color: darken(@menu-item-bg-color, 70%); 
        }
}